<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>NewsReader App</title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>

<body ng-app="starter" ng-controller="NewsCtrl">

  <ion-pane>
    <ion-header-bar class="bar bar-header bar-royal">
      <h1 class="title">NewsReader App</h1>
    </ion-header-bar>
    <ion-content>

      <ion-refresher on-refresh="loadNewerStories()">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

      <div class="list">

        <!-- Targeting to a new page when clicked -->

        <a class="item item-thumbnail-left" href="{{story.url}}" target="_blank" ng-repeat="story in stories track by story.id">

          <!-- Thier is a thumbnail property provide by reddit to load the images -->

          <img ng-src="{{story.thumbnail}}" ng-if="story.thumbnail.startsWith('http')">

          <h2 class="story-title">{{story.title}}</h2>
          <p> {{story.domain}}

          </p>
        </a>
      </div>

      <ion-infinite-scroll on-infinite="loadOlderStories()" distance="1%">
      </ion-infinite-scroll>

    </ion-content>
  </ion-pane>
</body>

</html>